* {
    margin: 0;
    padding: 0;
}

li {
  list-style-type: none; 
}

/* article {
  color: black;
  text-decoration-color: none;
  display: flex;
  align-items: flex-end;
} */

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    text-decoration-color: white;
}

.nav-links {
    display: flex;
}

nav li {
    padding: 20px
}

#logo {
    width: 70px;
    height: auto;
}

.welcome-text {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.welcome {
    font-size: 1.5em;
}

.date {
    font-size: 1.5em;
    font-weight: 300;
    color: gray;
}

.featured {
    margin: 0 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 10em 10em;
    grid-gap: 1em;
    width: 100%;
}

.news {
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-template-rows: 10em;
  grid-gap: 1em;
}

.featured article:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

.a1-image {
  max-height: 20em;
  max-width: auto;
  object-fit: contain;
}

.ft-image, .n-img {
  max-height: 10em;
  max-width: auto;
  object-fit: contain;
}

.article-container {
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

/* .a1 {
  background-image: url('images/pic1.jpeg');
  background-size: cover;
}

.a2 {
  background-image: url('images/pic2.jpeg');
  background-size: cover;
}

.a3 {
  background-image: url('images/pic3.jpeg');
  background-size: cover;
}

.a4 {
  background-image: url('images/pic4.jpeg');
  background-size: cover;
}

.a5 {
  background-image: url('images/pic5.jpeg');
  background-size: cover;
} */